.app-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 12px;
  overflow: hidden;
  max-width: 1200px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.child-left {
  width: 30%;
  background-color: #1f1f1f;
  padding: 10px;
}

#slider {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.slides {
  width: 500%; /* 5 slides */
  height: 70%;
  position: relative;
  display: flex;
  animation: slide 40s infinite;
}

.slide {
width: 20%; /* 5 slides = 20% each */
  height: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

/* Animation for 5 slides */
@keyframes slide {
  0%, 16%   { transform: translateX(0%); }
  20%, 36%  { transform: translateX(-20%); }
  40%, 56%  { transform: translateX(-40%); }
  60%, 76%  { transform: translateX(-60%); }
  80%, 100% { transform: translateX(-80%); }
}

.app-content {
  flex: 1 1 50%;
  padding: 40px 50px;
}

.app-content h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.app-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #ccc;
}

.app-btn {
  background-color: #f47b20;
  color: #fff;
  border: none;
  padding: 14px 30px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.app-btn:hover {
  background-color: #ff9133;
  transform: translateY(-3px);
}

/* Responsive design */
@media (max-width: 900px) {
  .app-container {
    flex-direction: column;
  }

  .app-content {
    padding: 30px;
    text-align: center;
  }

  .app-content h1 {
    font-size: 2rem;
  }
}
