
/* ==========================
   RESPONSIVE (MOBILE ONLY)
========================== */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }
  .mlb {
    display: none;
  }
  .account {
    display: none;
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Show Sidebar only in mobile */
  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    background: #111;
    padding: 30px 20px;
    transition: 0.4s ease;
    z-index: 300;
  }
  .sidebar.active {
    left: 0;
  }
  .sidebar .close-btn {
    font-size: 26px;
    color: var(--accent);
    cursor: pointer;
    margin-bottom: 30px;
  }
  .sidebar ul {
    list-style: none;
  }
  .sidebar ul li {
    margin: 20px 0;
  }
  .sidebar ul li a {
    color: var(--accent);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }
}
